.img-button {
  background-color: transparent;
  outline: none;
  border: none;
}

.img {
  height: 10rem;
  transition: 0.3s ease;
}

.active, 
.img-button:hover {
  filter: drop-shadow(0 0 2.9rem rgb(0, 255, 255));
  /* filter: saturate(150%); */
}
