@font-face {
  font-family: "primary";
  src: url(/fonts/fff-forward/FFFFORWA.TTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  background-image: url(/bg/pixel\ bg\ 2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;

  height: 100vh;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.link {
  font-family: primary;
  color: white;
  text-shadow: 3px 0 0 black, 0 -3px 0 black, 0 3px 0 black, -3px 0 0 black;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  cursor: pointer;
  padding: 1rem;
}

.link:hover {
  border-radius: 1rem;
  box-shadow: 0px 0px 30px 0px rgba(199, 140, 13, 0.4);
  background-color: rgba(199, 140, 13, 0.2);
}

.title {
  font-family: primary;
  color: white;
  text-shadow: 3px 0 0 black, 0 -3px 0 black, 0 3px 0 black, -3px 0 0 black;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 1.3rem;
  user-select: none;
}
