.enemy-img {
  height: 10rem;
  margin-top: 1rem;
  transform: scaleX(-1);
}

.enemy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
  justify-self: start;
  transform: translateY(-3rem);
}

.enemy-chakra {
  margin-top: 1rem;
}

.enemy-chakra > .bar-wrapper > .bar {
  background: rgb(30, 172, 255);
}
