.description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(59, 59, 59, 0.2);
  backdrop-filter: blur(2px);
  padding: 3rem 1rem;
  gap: 1rem;
  border-top: 1px var(--btn-color);
  border-left: 1px var(--btn-color);
  border-color: var(--btn-color);
  border-right: 4px solid rgb(48, 35, 29);
  border-bottom: 6px solid rgb(48, 35, 29);

  box-shadow: -3px 0 0 0 black, 3px 0 0 0 black, 0 -3px 0 0 black,
    0 3px 0 0 black;
}

.title-wrapper {
  display: flex;
  align-items: center;
  padding-right: 13rem;
}

.leave-descrition-btn {
  width: 150px;
  height: 50px;
  margin-right: 5rem;
  transform: translateY(2px);
  cursor: pointer;
}

.description-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: primary;
  color: white;
  text-shadow: 3px 0 0 black, 0 -3px 0 black, 0 3px 0 black, -3px 0 0 black;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 1.3rem;
  user-select: none;
}

.super-technique,
.rassengan,
.regen {
  width: 10rem;

  margin-right: 2rem;
}
