.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 12rem;
  background-color: rgba(59, 59, 59, 0.2);
  backdrop-filter: blur(2px);
  gap: 2rem;
  border-top: 1px var(--btn-color);
  border-left: 1px var(--btn-color);
  border-color: var(--btn-color);
  border-right: 4px solid rgb(48, 35, 29);
  border-bottom: 6px solid rgb(48, 35, 29);

  box-shadow: -3px 0 0 0 black, 3px 0 0 0 black, 0 -3px 0 0 black,
    0 3px 0 0 black;
}
