.bar-wrapper {
  border: 4px solid rgb(0, 0, 0);
  width: 100%;
  height: 24px;
  background: rgba(255, 255, 255, 0.5);
}

.bar {
  background: rgb(223, 49, 49);
  width: 75%;
  height: 100%;
  animation: hp 0.8s ease;
}

.chakra > .bar-wrapper > .bar {
  background: rgb(30, 172, 255);
}
